body{
    background-color: rgb(43, 43, 43);
}
div{
    background-color: #fff;
    width: 480px;
    margin: 0 auto;
    text-align: center;
}
.img img{
    width: 95%;
    margin-top: 20px;
}
button{
    width: 100px;
    height: 30px;
    background-color: limegreen;
    border-left: 3px solid limegreen;
    border-right: 3px solid limegreen;
}
button:hover{
    background-color: #fff;
    color: limegreen;
    border-left: 3px solid limegreen;
    border-right:3px solid limegreen;
}